Repository SyndemicsLab/hep-ce, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MJC598, @ddbaptiste, @SyndemicsLab/Analysts, @SyndemicsLab/Developers

how bout now
  .github/workflows/unit-tests.yml
Owners: @MJC598, @ddbaptiste

Addressing PR Comments
  README.md
  tests/constants/config.hpp
  tests/src/data/types_test.cpp
  tests/src/event/behavior/behavior_changes_test.cpp
  tests/src/event/behavior/pregnancy_test.cpp
  tests/src/event/fibrosis/progression_test.cpp
  tests/src/event/hcv/linking_test.cpp
  tests/src/event/hcv/screening_test.cpp
  tests/src/event/hiv/screening_test.cpp
  tests/src/model/costing_test.cpp
Owners: @MJC598, @ddbaptiste, @SyndemicsLab/Developers

deploy: be74b8de79ebbc51075ec6de3d5f337f6c262da3
  badges/coverage.json
Owners: @MJC598, @ddbaptiste

Ensure it's not possible for postpartum people to roll for pregnancy
  docs/src/data.md
  src/event/internals/pregnancy_internals.hpp
  src/event/pregnancy.cpp
Owners: @MJC598, @ddbaptiste, @SyndemicsLab/Developers

New unit test for the change in logic
  src/event/pregnancy.cpp
  tests/src/event/behavior/pregnancy_test.cpp
Owners: @SyndemicsLab/Developers

Revert some changes to address the real bug
  src/event/pregnancy.cpp
  tests/src/event/behavior/pregnancy_test.cpp
Owners: @SyndemicsLab/Developers

[Hotfix] Old Age Postpartum Handling (#153)
  docs/src/data.md
  src/event/internals/pregnancy_internals.hpp
  src/event/pregnancy.cpp
  tests/src/event/behavior/pregnancy_test.cpp
Owners: @MJC598, @ddbaptiste, @SyndemicsLab/Developers

deploy: 9a89779dc5e31f9954cb87c2357033dcd3336a6f
  badges/coverage.json
Owners: @MJC598, @ddbaptiste

Maybe this fixes boost issues in CI?
  CMakeLists.txt
  cmake/LoadBoost.cmake
  tests/CMakeLists.txt
Owners: @MJC598, @ddbaptiste

obnoxious boost installs
  .github/workflows/deploy-docs.yml
  .github/workflows/unit-testing.yml
  cmake/LoadBoost.cmake
  tests/CMakeLists.txt
Owners: @MJC598, @ddbaptiste

adding sqlite for mingw
  .github/workflows/unit-testing.yml
Owners: @MJC598, @ddbaptiste

Addressing PR comments
  CMakeLists.txt
  cmake/LoadSQLiteCpp.cmake
Owners: @MJC598, @ddbaptiste

removing doxyfile and openssl
  .github/workflows/unit-testing.yml
  Doxyfile
  cmake/LoadSQLiteCpp.cmake
Owners: @MJC598, @ddbaptiste

yet again with Windows
  .github/workflows/unit-testing.yml
Owners: @MJC598, @ddbaptiste

installing sqlite with ubuntu
  .github/workflows/unit-testing.yml
Owners: @MJC598, @ddbaptiste

Maybe now we can time out the actions with building
  .github/workflows/unit-testing.yml
  .gitignore
  CMakeLists.txt
  build/.gitkeep
  cmake/LoadBoost.cmake
  tests/CMakeLists.txt
Owners: @MJC598, @ddbaptiste

reverting to old boost find_package
  .github/workflows/unit-testing.yml
  CMakeLists.txt
  cmake/LoadBoost.cmake
  cmake/MakeDependenciesAvailable.cmake
  tests/CMakeLists.txt
Owners: @MJC598, @ddbaptiste

reporting boost for toxic behavior
  CMakeLists.txt
  tests/CMakeLists.txt
Owners: @MJC598, @ddbaptiste

Boost why...
  .github/workflows/unit-testing.yml
Owners: @MJC598, @ddbaptiste

please work
  CMakePresets.json
  include/hepce/utils/logging.hpp
  src/utils/internals/logging_internals.hpp
  src/utils/logging.cpp
  tests/unit/utils/logging_test.cpp
Owners: @MJC598, @ddbaptiste, @SyndemicsLab/Developers

seriously clang...
  .github/workflows/unit-testing.yml
  tests/unit/utils/logging_test.cpp
Owners: @MJC598, @ddbaptiste, @SyndemicsLab/Developers

Please GoogleTest
  cmake/LoadGtest.cmake
Owners: @MJC598, @ddbaptiste

turning coverage calculation off and printing where locations for windows
  .github/workflows/unit-testing.yml
  CMakePresets.json
Owners: @MJC598, @ddbaptiste

debugging windows
  .github/workflows/unit-testing.yml
Owners: @MJC598, @ddbaptiste

please
  .github/workflows/unit-testing.yml
Owners: @MJC598, @ddbaptiste

really windows? PATH?
  .github/workflows/unit-testing.yml
Owners: @MJC598, @ddbaptiste

Windows I dislike you
  .github/workflows/linux-unit-testing.yml
  .github/workflows/windows-unit-testing.yml
Owners: @MJC598, @ddbaptiste

maybe this time?
  .github/workflows/windows-unit-testing.yml
  tests/constants/utility.hpp
Owners: @MJC598, @ddbaptiste, @SyndemicsLab/Developers

cleanup
  .github/workflows/windows-unit-testing.yml
Owners: @MJC598, @ddbaptiste

windows weird filesystem controls
  tests/unit/model/person_test.cpp
Owners: @SyndemicsLab/Developers

honestly, I don't know what clang saw?
  tests/unit/model/person_test.cpp
Owners: @SyndemicsLab/Developers

Updating CMakePresets to match respond
  .github/workflows/coverage.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/linux-unit-testing.yml
  .github/workflows/windows-unit-testing.yml
  CMakePresets.json
Owners: @MJC598, @ddbaptiste

adding boost to coverage
  .github/workflows/coverage.yml
Owners: @MJC598, @ddbaptiste

Boost please
  .github/workflows/coverage.yml
Owners: @MJC598, @ddbaptiste

docs
  .github/workflows/deploy-docs.yml
Owners: @MJC598, @ddbaptiste

docs (#155)
  .github/workflows/deploy-docs.yml
Owners: @MJC598, @ddbaptiste

adding pregnancy documentation and updating example files
  docs/images/mermaid/pregnancy.mmd
  docs/images/png/pregnancy.png
  extras/examples/inputs.db.sql
  extras/examples/sim.conf
Owners: @MJC598, @ddbaptiste

Adding pregnancy to events.md
  docs/src/events.md
Owners: @MJC598, @ddbaptiste

Doxygen is awesome template replacement in Doxyfile
  Doxyfile.in
Owners: @MJC598, @ddbaptiste

[Feature] Pregnancy documentation (#156)
  Doxyfile.in
  docs/images/mermaid/pregnancy.mmd
  docs/images/png/pregnancy.png
  docs/src/events.md
  extras/examples/inputs.db.sql
  extras/examples/sim.conf
Owners: @MJC598, @ddbaptiste

.github/CODEOWNERS:

# This file contains the CODEOWNERS of hep-ce. It is used to determine 
# required reviews on Pull Requests. Each line is a file pattern followed 
# by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @MJC598 and @ddbaptiste will be requested for
# review when someone opens a pull request.
*       @MJC598 @ddbaptiste

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies R or C++ files, only @the specified teams and not the global
# owner(s) will be requested for a review.

# Teams can be specified as code owners as well. Teams should
# be identified in the format @org/team-name. Teams must have
# explicit write access to the repository.
*.R @SyndemicsLab/Analysts @SyndemicsLab/Developers
*.cpp @SyndemicsLab/Developers
*.hpp @SyndemicsLab/Developers
*.sh @SyndemicsLab/Developers
