Repository SyndemicsLab/hep-ce, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MJC598, @ddbaptiste, @SyndemicsLab/Analysts, @SyndemicsLab/Developers

Removing the fatal overdose utility
  extras/examples/sim.conf
  src/event/base/death.cpp
  src/event/base/internals/death_internals.hpp
  tests/constants/config.hpp
Owners: @MJC598, @ddbaptiste, @SyndemicsLab/Developers

Removing the fatal overdose utility (#144)
  extras/examples/sim.conf
  src/event/base/death.cpp
  src/event/base/internals/death_internals.hpp
  tests/constants/config.hpp
Owners: @MJC598, @ddbaptiste, @SyndemicsLab/Developers

working on tests
  extras/examples/sim.conf
  src/event/behavior/behavior_changes.cpp
  src/event/behavior/internals/behavior_changes_internals.hpp
  tests/constants/config.hpp
  tests/src/event/behavior/behavior_changes_test.cpp
Owners: @MJC598, @ddbaptiste, @SyndemicsLab/Developers

Correcting Tests
  extras/examples/sim.conf
  include/hepce/utils/math.hpp
  src/event/behavior/behavior_changes.cpp
  src/event/behavior/internals/behavior_changes_internals.hpp
  tests/constants/config.hpp
  tests/src/event/behavior/behavior_changes_test.cpp
Owners: @MJC598, @ddbaptiste, @SyndemicsLab/Developers

Updating the Apply exponential decay to be a bit more streamlined control flow
  src/event/behavior/behavior_changes.cpp
  src/event/behavior/internals/behavior_changes_internals.hpp
  tests/src/event/behavior/behavior_changes_test.cpp
Owners: @SyndemicsLab/Developers

Addressing PR Comments
  src/event/behavior/behavior_changes.cpp
Owners: @SyndemicsLab/Developers

Exponential Decay (#145)
  extras/examples/sim.conf
  include/hepce/utils/math.hpp
  src/event/behavior/behavior_changes.cpp
  src/event/behavior/internals/behavior_changes_internals.hpp
  tests/constants/config.hpp
  tests/src/event/behavior/behavior_changes_test.cpp
Owners: @MJC598, @ddbaptiste, @SyndemicsLab/Developers

Adjusting the long term exponential decay for relapse
  src/event/behavior/behavior_changes.cpp
  src/event/behavior/internals/behavior_changes_internals.hpp
  tests/src/event/behavior/behavior_changes_test.cpp
Owners: @SyndemicsLab/Developers

Adjusting the long term exponential decay for relapse (#146)
  src/event/behavior/behavior_changes.cpp
  src/event/behavior/internals/behavior_changes_internals.hpp
  tests/src/event/behavior/behavior_changes_test.cpp
Owners: @SyndemicsLab/Developers

Fixing the bug where time since active is passed to exponential decay
  src/event/behavior/behavior_changes.cpp
Owners: @SyndemicsLab/Developers

fixing changes
  tests/src/event/behavior/behavior_changes_test.cpp
Owners: @SyndemicsLab/Developers

Adding deprecation flag for initial cohort
  src/model/simulation.cpp
Owners: @SyndemicsLab/Developers

Addressing PR comments
  tests/src/event/behavior/behavior_changes_test.cpp
Owners: @SyndemicsLab/Developers

Bugfix/Exponential-Decay (#147)
  src/event/behavior/behavior_changes.cpp
  src/model/simulation.cpp
  tests/src/event/behavior/behavior_changes_test.cpp
Owners: @SyndemicsLab/Developers

Adding in the population, death reason, and linking tables to the example schema
  extras/examples/inputs.db.sql
Owners: @MJC598, @ddbaptiste

Addressing PR comments
  extras/examples/inputs.db.sql
Owners: @MJC598, @ddbaptiste

Addressing other PR comment
  extras/examples/inputs.db.sql
Owners: @MJC598, @ddbaptiste

lmao love how I literally created the descrepency you were asking about
  extras/examples/inputs.db.sql
Owners: @MJC598, @ddbaptiste

Population Schema (#148)
  extras/examples/inputs.db.sql
Owners: @MJC598, @ddbaptiste

fixing the population table run
  extras/examples/inputs.db.sql
  include/hepce/data/types.hpp
  src/model/simulation.cpp
Owners: @MJC598, @ddbaptiste, @SyndemicsLab/Developers

fixing the population table run (#149)
  extras/examples/inputs.db.sql
  include/hepce/data/types.hpp
  src/model/simulation.cpp
Owners: @MJC598, @ddbaptiste, @SyndemicsLab/Developers

updating the setting for current_time
  include/hepce/model/person.hpp
  src/model/internals/person_internals.hpp
  src/model/simulation.cpp
  tests/mocks/person_mock.hpp
Owners: @SyndemicsLab/Developers

updating the setting for current_time (#150)
  include/hepce/model/person.hpp
  src/model/internals/person_internals.hpp
  src/model/simulation.cpp
  tests/mocks/person_mock.hpp
Owners: @SyndemicsLab/Developers

Properly adding `identifications_cleared to simulation output`
  src/model/person.cpp
Owners: @SyndemicsLab/Developers

Fix failing CI test
  src/model/person.cpp
  tests/src/model/person_test.cpp
Owners: @SyndemicsLab/Developers

Fix data type in `person.cpp`
  src/model/person.cpp
Owners: @SyndemicsLab/Developers

[Hotfix] Properly adding `identifications_cleared` to simulation output (#151)
  src/model/person.cpp
  tests/src/model/person_test.cpp
Owners: @SyndemicsLab/Developers

Adding citation file and README badge
  CITATION.cff
  README.md
Owners: @MJC598, @ddbaptiste

Addressing PR comments
  CITATION.cff
  include/hepce/data/inputs.hpp
  src/event/death.cpp
  src/event/internals/hcv_clearance_internals.hpp
  src/event/internals/hiv_linking_internals.hpp
  src/event/internals/hiv_screening_internals.hpp
  src/event/internals/pregnancy_internals.hpp
Owners: @MJC598, @ddbaptiste, @SyndemicsLab/Developers

More tests from copilot
  tests/src/event/hcv/linking_test.cpp
  tests/src/event/hcv/screening_test.cpp
  tests/src/event/hiv/linking_test.cpp
  tests/src/event/hiv/screening_test.cpp
  tests/src/model/simulation_test.cpp
Owners: @SyndemicsLab/Developers

fixing lint error
  tests/src/event/base/death_test.cpp
Owners: @SyndemicsLab/Developers

adding windows unit testing
  .github/workflows/unit-tests.yml
Owners: @MJC598, @ddbaptiste

testing windows update
  .github/workflows/unit-tests.yml
Owners: @MJC598, @ddbaptiste

more fixes
  .github/workflows/unit-tests.yml
Owners: @MJC598, @ddbaptiste

sampler and omp and MSVC issues
  src/model/sampler.cpp
  src/model/simulation.cpp
Owners: @SyndemicsLab/Developers

Windows is dumb
  extras/executable/exec.cpp
  include/hepce/data/inputs.hpp
Owners: @SyndemicsLab/Developers

commenting out windows
  .github/workflows/unit-tests.yml
Owners: @MJC598, @ddbaptiste

adding back the hcv_treatment costs and utilities
  .github/workflows/unit-tests.yml
  src/event/hcv_treatment.cpp
Owners: @MJC598, @ddbaptiste, @SyndemicsLab/Developers

fixing the build because I'm not sure what happened
  CMakeLists.txt
  CMakePresets.json
  cmake/InstallHepce.cmake
  cmake/hepce.pc.in
  cmake/hepceCPackOptions.cmake.in
  cmake/hepceConfig.cmake.in
  include/hepce/hepce.hpp
Owners: @MJC598, @ddbaptiste, @SyndemicsLab/Developers

Fixing the CI on the correct model this time
  .github/workflows/unit-tests.yml
Owners: @MJC598, @ddbaptiste

.github/CODEOWNERS:

# This file contains the CODEOWNERS of hep-ce. It is used to determine 
# required reviews on Pull Requests. Each line is a file pattern followed 
# by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @MJC598 and @ddbaptiste will be requested for
# review when someone opens a pull request.
*       @MJC598 @ddbaptiste

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies R or C++ files, only @the specified teams and not the global
# owner(s) will be requested for a review.

# Teams can be specified as code owners as well. Teams should
# be identified in the format @org/team-name. Teams must have
# explicit write access to the repository.
*.R @SyndemicsLab/Analysts @SyndemicsLab/Developers
*.cpp @SyndemicsLab/Developers
*.hpp @SyndemicsLab/Developers
*.sh @SyndemicsLab/Developers
